{{!-- Allows this template access to '_globals' object in course.json --}}
{{import_globals}}
<div class="notify__push-inner js-notify-push-inner">

  {{{a11y_aria_label _globals._accessibility._ariaLabels.feedbackPopUp}}}

  {{#if title}}
  <div class="notify__push-title">
    <div class="notify__push-title-inner" tabindex="0" role="heading" aria-level="1">
      {{{compile title this}}}
    </div>
  </div>
  {{/if}}

  {{#if body}}
  <div class="notify__push-body">
    <div class="notify__push-body-inner">
        {{{compile_a11y_text body this}}}
    </div>
  </div>
  {{/if}}

</div>

<button class="btn-icon notify__push-close-btn js-notify-push-close-btn" aria-label="{{_globals._accessibility._ariaLabels.closePopup}}">
  <span class="icon"></span>
</button>